* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(rgb(1, 108, 116), rgb(4, 62, 148));
  width: 100%;
  padding: 10px;
  min-height: 100vh;
}
.main-box {
  width: 100;
  max-width: 540px;
  background: rgb(37, 60, 69);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.main-box h2 {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 40px;
}
.row {
  display: flex;
  align-items: center;
  background: #f8fbfc;
  border: none;
  outline: none;
  border-radius: 30px;
}
button {
  font-size: 20px;
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 5px 10px;
  background: rgb(255, 152, 34);
  cursor: pointer;
}
#output-box {
  font-size: 20px;
  margin-left: 10px;
}
